#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  /* text-align: center; */
}

.card {
  padding: 2em;
}

.subheading {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  color: #ad656f;
  font-weight: bold;
  text-align: right;
  font-size: 15px;
  
}

.App {
  text-align: center;
  height: 60vh;
  width: 60vh;
}

.right {
  width: 50vw;
  flex: 1;
  align-items: center;
  padding-right: 0%;
}

ul {
  /* display: flex; */
  list-style: none;
  height: 80vh;
  width: 70vh;
  overflow: auto;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}